/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
background:url('https://www.giganciprogramowania.edu.pl/templates/emp_template/icons/logo/color.svg') center 20px no-repeat;
}
